@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f9f9f9;

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(120, 120, 121), white,rgb(74, 74, 75));

    border-radius: 10px;
}
